<table class = "posttable" style = "width:100%" valign="top">
    <tr> 
        <td colspan="3">
            <div class="posttitle"> 
            <br>
     <p><b>Applied Job</b></p>
     <p> <b>Faculty Name:</b>  {{ application.theposition.firstname }} {{ application.theposition.lastname }} </p>
     <p> <b>Faculty Phone Number:</b>  {{ application.theposition.phone_number }}  </p>
     <p> <b>Project Title:</b>  {{ application.theposition.title }}  </p>
     <p> <b>Project Information:</b>  {{ application.theposition.project_information}}  </p>
     <p> <b>Position Start Date:</b>  {{ application.theposition.start_date }}  </p>
     <p> <b>Position End Date:</b>  {{ application.theposition.end_date }}  </p>
     <p> <b>Required Time Commitment:</b>  {{ application.theposition.requried_time_commitment }}  </p>
     <p> <b>Required GPA:</b>  {{ application.theposition.required_gpa }}  </p>
     <p> <b>Required Course:</b>  {{ application.theposition.required_course}}  </p>
     <p> <b>Max Position:</b>  {{ application.theposition.max_position }}  </p>
     <p> <b>Application Status:</b>  {{ application.status }}  </p>

        </div>
        </td>
    </tr>