{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Post Undergraduate Research Positions Information</h1>

            {% if form %}
                <form action = "" method="POST">
                    {{ form.hidden_tag() }}
                    
                        <p>{{ form.firstname.label }}</p>
                        <p>{{ form.firstname(class='forminput')}}</p>

                        {% for error in form.firstname.errors %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        <p>{{form.lastname.label }}</p>
                        <p>{{form.lastname(class='forminput') }}</p>

                        {% for error in form.lastname.errors %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        <p>{{form.phone_number.label }}</p>
                        <p>{{form.phone_number(class='forminput') }}</p>

                        {% for error in form.phone_number.errors %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        <p>{{form.title.label }}</p>
                        <p>{{form.title(class='forminput') }}</p>

                        {% for error in form.title.errors %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}
                        
                        <p>{{form.project_information.label }}</p>
                        <p>{{form.project_information(class='forminput') }}</p>

                        {% for error in form.project_information.errors %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        <p>{{form.start_date.label }}</p>
                        <p>{{form.start_date(class='forminput') }}</p>

                        {% for error in form.start_date.errors %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        <p>{{form.end_date.label }}</p>
                        <p>{{form.end_date(class='forminput') }}</p>

                        {% for error in form.end_date.errors %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        <p>{{form.required_time_commitment.label }}</p>
                        <p>{{form.required_time_commitment(class='forminput') }}</p>

                        {% for error in form.required_time_commitment.errors %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        <p>{{form.required_gpa.label }}</p>
                        <p>{{form.required_gpa(class='forminput') }}</p>

                        {% for error in form.required_gpa.errors %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        <p>{{form.major.label }}</p>
                        <p>{{form.major(class='forminput') }}</p>

                        <p>{{form.required_course.label }}</p>
                        <p>{{form.required_course(class='forminput') }}</p>

                        {% for error in form.required_course.errors %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}

                        <p>{{form.max_position.label }}</p>
                        <p>{{form.max_position(class='forminput') }}</p>

                        {% for error in form.max_position.errors %}
                        <span style="color: red;">[{{error}}]</span>
                        {% endfor %}
                    
                        <p>{{ form.submit(class= 'button') }}</p>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}