<div class ='postlist'>
        <div class ='post-box'>   
            <table class = "posttable" style = "width:100%" valign="top">
                <tr> 
                    <td colspan="3"><div class="posttitle"> 
                        <br>
                 <p> <b>WSU ID:</b>  {{current_user.id}}  </p>
                 <p> <b>Email:</b>  {{current_user.email}}</p>
                 <p> <b>Name:</b>  {{studentss.firstname}}  {{studentss.lastname}}</p>
                 <p> <b>Phone number:</b> </p> {{studentss.phone_number}}
                 <p> <b>Culmulative Gpa:</b> </p> {{studentss.culmulative_gpa}}
                 <p> <b>Prior Research Exp:</b> </p>{{studentss.prior_research_exp}}
            
            
            
                    </div>
                    </td>
                </tr>
        </div>    
</div>