<table class = "posttable" style = "width:100%" valign="top">
    <tr> 
        <td colspan="3"><div class="posttitle"> 
            <br>
     <p> <b>Name:</b>  {{ positions.first_name }} {{ positions.last_name }} </p>
     <p> <b>Phone Number:</b>  {{ positions.phone_number }}  </p>
     <p> <b>Title:</b>  {{ positions.title }}  </p>
     <p> <b>Project Information:</b>  {{ positions.project_information}}  </p>
     <p> <b>Start Date:</b>  {{ positions.start_date }}  </p>
     <p> <b>End Date:</b>  {{ positions.end_date }}  </p>
     <p> <b>Required Time Commitment:</b>  {{ positions.requried_time_commitment }}  </p>
     <p> <b>Required GPA:</b>  {{ positions.required_gpa }}  </p>
     <p> <b>Required Course:</b>  {{ positions.required_course}}  </p>
     <p> <b>Max Position:</b>  {{ positions.max_position }}  </p>


        </div>
        </td>
    </tr>
    