<table class = "posttable" style = "width:100%" valign="top">
    <tr> 
        <td colspan="3"><div class="posttitle"> 
            <br>
            <p><b>Posted Job</b></p>
            <p> <b>Name:</b>  {{ position.firstname }} {{ position.lastname }} </p>
            <p> <b>Phone Number:</b>  {{ position.phone_number }}  </p>
            <p> <b>Title:</b>  {{ position.title }}  </p>
            <p> <b>Project Information:</b>  {{ position.project_information}}  </p>
            <p> <b>Start Date:</b>  {{ position.start_date }}  </p>
            <p> <b>End Date:</b>  {{ position.end_date }}  </p>
            <p> <b>Required Time Commitment:</b>  {{ position.requried_time_commitment }}  </p>
            <p> <b>Required GPA:</b>  {{ position.required_gpa }}  </p>
            <p> <b>Required Course:</b>  {{ position.required_course}}  </p>
            <p> <b>Max Position:</b>  {{ position.max_position }}  </p>
        </div>
        </td>
    </tr>
<td width = "5%"> 
<div class = "likecount">
    {% if current_user.is_apply(position) == False%}    
        <form action="{{ url_for('routes.apply_profile',positions_id = position.id)}}" method="post">
                <input type="submit" value="Apply" class = "button" >
        </form>
        &nbsp;
        {% else %}  
        <form action="{{ url_for('routes.withdraw',positions_id = position.id)}}" method="post">
                <input type="submit" value="Withdraw" class = "button" >
        </form>
    {% endif %}
</div>
</td>